.testimonials-cmp-container {
    background-image: url('../../../../Assets/Testimonials/sthg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
}

.testimonials-cmp-title-part-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px 0;
}

.tc-title-part-img-container {
    max-width: 60px;
    max-height: 60px;
}

.tc-title-part-img {
    width: 100%;
    height: 100%;
}

.tc-title-part-title {
    font-size: 55px;
    font-weight: 600;
    color: #fff;
}

.tc-title-part-line {
    display: inline-block;
    height: 4px;
    background-color: #fff;
    width: 140px;
    margin: -10px 0 0 -5px;
    border-radius: 5px;
}

.tc-boxes-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.tc-box {
    width: 687px;
    height: 250px;
    margin: 49px 24px 0px 0;
    padding: 29px 60px 0px 61px;
    border: solid 3px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.tc-box-text {
    color: #fff;
    font-size: 26px;
}

.tc-box-img-container {
    width: 52px;
    height: 52px;
}

.tc-box-name {
    color: #fff;
    font-size: 20px;
}

.tc-box-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tc-slider-container {
    display: none;
}

.tc-content-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 55px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.tc-box-text-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .tc-content-container {
        padding-left: 40px;
    }

    .tc-title-part-title {
        font-size: 35px;
    }

    .tc-title-part-img-container {
        max-width: 45px;
        max-height: 45px;
    }

    .tc-title-part-line {
        margin-top: -2px;
        width: 90px;
    }

    .testimonials-cmp-container {
        width: 100%;
        height: 850px;
    }

    .testimonials-cmp-title-part-container {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 728px) {
        .tc-box {
            /* width: 350px; */
            width: 639px;
            height: 180px;
        }
    
        .tc-box-text {
            /* font-size: 26px; */
            font-size: 17px;
        }
    
        .tc-box-name {
            /* font-size: 20px; */
            font-size: 14px;
        }
    
        .tc-box-img-container {
            /* width: 52px; */
            /* height: 52px; */
            width: 35px;
            height: 35px;
        }
}

@media only screen and (max-width: 682px) {
    .tc-box {
            /* width: 350px; */
            width: 600px;
            height: 180px;
        }
    
        .tc-box-text {
            /* font-size: 26px; */
            font-size: 17px;
        }
    
        .tc-box-name {
            /* font-size: 20px; */
            font-size: 14px;
        }
    
        .tc-box-img-container {
            /* width: 52px; */
            /* height: 52px; */
            width: 35px;
            height: 35px;
        }
}

@media only screen and (max-width: 628px) {
    .tc-box {
            /* width: 350px; */
            width: 500px;
            height: 150px;
            padding: 0;
        }
    
        .tc-box-text {
            /* font-size: 26px; */
            font-size: 15px;
        }
    
        .tc-box-name {
            /* font-size: 20px; */
            font-size: 12px;
        }
    
        .tc-box-img-container {
            /* width: 52px; */
            /* height: 52px; */
            width: 32px;
            height: 32px;
        }
}

@media only screen and (max-width: 534px) {
    .tc-box {
        /* width: 350px; */
        width: 400px;
        height: 140px;
        padding: 0;
    }

    .tc-box-text {
        /* font-size: 26px; */
        font-size: 15px;
    }

    .tc-box-name {
        /* font-size: 20px; */
        font-size: 12px;
    }

    .tc-box-img-container {
        /* width: 52px; */
        /* height: 52px; */
        width: 32px;
        height: 32px;
    }
}

@media only screen and (max-width: 429px) {
    .testimonials-cmp-container {
        width: 100%;
        height: 315px;
    }

    .testimonials-cmp-title-part-container {
        padding-top: 20px;
        padding-bottom: 32.1px;
        margin: 0;
    }

    .tc-title-part-img-container {
        max-width: 32px;
        max-height: 32px;
    }

    .tc-title-part-title {
        font-size: 26px;
    }

    .tc-title-part-line {
        width: 65.6px;
        margin-top: -5px;
    }

    .tc-content-container {
        overflow-x: auto;
    }

    .tc-boxes-container {
        display: flex;
        flex-direction: row;
        gap: 41px;
    }

    .tc-content-container {
        padding-left: 23px;
        padding-right: 18px;
        gap: 41px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tc-box {
        width: 387px;
        height: 150px;
        text-align: left;
        border: solid 2px #fff;
        margin: 0 0 19px;
        gap: 0;
        padding: 14px 60px 0px 61px;
    }

    .tc-box-text-mobile {
        display: flex;
        margin: 0 0 19px;
        font-size: 12px;
        color: #fff;
    }

    .tc-box-text {
        display: none;
    }

    .tc-box-img-container {
        width: 42px;
        height: 43px;
    }

    .tc-box-name {
        font-size: 11px;
        margin: 0px 0 3px 0;
    }

    .tc-content-container::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .tc-box {
        width: 353px;
        padding: 14px 60px 0px 37px;
    }
}

@media only screen and (max-width: 385px) {
    .tc-box {
        width: 324px;
        padding: 14px 31px 0px 37px;
    }
}

@media only screen and (max-width: 356px) {
    .tc-box {
        width: 291px;
        padding: 14px 29px 0px 37px;
        height: 156px;
    }
}